# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 Sythos (https://www.sythos.net)
# Author: Sythos (https://www.sythos.net)

*
!Dockerfile
!dovecot.conf
!users
!default.sieve
!entrypoint-dovecot.sh
!healthcheck-dovecot.sh
